.wrap-imgpoint-texta input:hover,.wrap-imgpoint-texta input:focus,.wrap-imgpoint-texta input{
	outline: none;
	display: block;
	max-width: 100%;
	margin-bottom: 5px;
	padding: 4px;
	outline: none;
	margin-bottom: 10px;
 	background: url("https://cdn4.iconfinder.com/data/icons/small-n-flat/24/map-marker-512.png") no-repeat left center;
	background-size: 20px;
	padding-left: 28px;
	font-size: 12px;
	width: 100%;
}
.wrap-imgpoint-texta select,.wrap-imgpoint-texta select:hover,.wrap-imgpoint-texta select:focus{
	display: block;
	width: 100%;
	max-width: 100%;
	margin-bottom: 5px;
	border: 0;
	padding: 4px;
	border: 0;
	border-bottom: 1px solid #000;
	margin-bottom: 10px;
	outline: none;
	background: url("/sites/all/themes/city2/images/mapicons/mapicon2.png");
	background-size: 20px;
	background-repeat: no-repeat;
	padding: 2%;
	margin-left: 0;
	-webkit-appearance:none;
	border: 1px solid gray;
	background: #fff;
	border-radius: 6px;
}
.mapwebform {
	height: 500px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	position: relative !important;
}
.wrap-imgpoint-texta {
	max-width: 100%;
	height:400px;
	width: 330px;
	border-radius: 10px;
}
.wrap-imgpoint-texta strong{

	display: block;
	margin-bottom: 7px;
}

.wrap-imgpoint-text1a::after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 45%;
	bottom: -11px;
	border: 11px solid;
	border-color: #ebbc57 transparent transparent #ebbc57;
	transform: rotate(225deg);
	display: none;
}
.wrap-imgpoint-texta textarea,.wrap-imgpoint-texta textarea:hover,.wrap-imgpoint-texta textarea:focus {
	outline: none;
	clear: both;
	display: block;
	width: 100%;
	max-width: 100%;
	margin-bottom: 5px;
	border: 0;
	border-bottom: 1px solid #000;
	outline: none;
	background: url("/sites/all/themes/city2/images/mapicons/mapicon3.png");
	background-size: 20px;
	background-repeat: no-repeat;
	padding: 2%;
	margin-left: 0;
	max-height: 100px;
	border: 1px solid gray;
	background: #fff;
  height: 75px;
  border-radius: 6px;
}
.wrap-imgpoint-texta button {
	float: left;
	display:inline-block;
	width: 200px;
	max-width: 100%;
	margin-bottom: 5px;
	width: 115px;
	margin: 0 auto;
	background: #666666;
	border: 0;
	color: #fff;
	padding: 3px 4px;
	cursor: pointer;
	background: #000;
	padding: 10px 20px;
	color: #fff;
	border-radius: 20px !important;
	margin-bottom: 7px;
	text-align: center;
	font-size: 14px;
  margin-top: 10px;
  margin-right: 7px;
}
body #block-system-main .wrap-imgpoint-texta button {
	border-radius: 20px 0px 0px 20px!important;
}
.btn-imgpoint-deletea {
	max-width: 100%;
	background: #1d999a;
	padding: 10px 20px;
	color: #fff;
	border-radius: 20px 0px 0px 20px;
	margin-bottom: 7px;
	display: block;
	margin: 0 auto;
	width: 100px;
	text-align: left;
	font-size: 14px;
	cursor: pointer;
}
.addressclass {
	margin-top: 11px;
	height: 34px;
	background: white;
	font-size: 16px;
	line-height: 20px;
	color: #000;
	font-size: 14px;
	width: 72% !important;
	max-width: 100%;
	left: auto !important;
	right: 68px;
	border-radius: 18px !important;
	padding: 5px 11px;
}
.btn-imgpoint-texta {
	float: none!important;
}
.mapwrapertop {
	display: none;
}
.mapwrapertoppopup {
	display: none;

}
.mapwrapertoppopupshow {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(128, 128, 128, 0.9);
	height: 100%;
	z-index: 9;
	padding: 10px;
	font-size: 20px;
	margin-bottom: 10px;
	color: #fff;
	text-align: left;
}
.mapwrapertopin {
	clear: block!important;
	display: block!important;
	width: 100px;
	margin-top: 0px;
	margin-top: 10px;
	text-align: left;
}
.mapwraperwrapper {
	position: relative;
}
.mapwrapertopshow {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(128, 128, 128, 0.9);
	height: 100%;
	z-index: 9;
	padding: 10px;
	font-size: 20px;
	margin-bottom: 10px;
	color: #fff;
}
.dessclass {
	font-weight: normal;
	display: inline-block;
	width: 100%;
	background: #fff;
	text-align: left;
}
.transso {
	font-size: 20px;
	background: #eee;
	padding: 4px 10px;
	margin-top: 2em;
	cursor: pointer;
}
.form-item-selectoption-en,
.form-item-selectoption-eu,
.form-item-selectoption-fr,
.form-item-selectoption-de,
.form-item-selectoption-nl,
.form-item-selectoption-es {
	display: none!important;
}

.form-item-selectoption-en.hideclassfield,
.form-item-selectoption-eu.hideclassfield,
.form-item-selectoption-fr.hideclassfield,
.form-item-selectoption-de.hideclassfield,
.form-item-selectoption-nl.hideclassfield,
.form-item-selectoption-es.hideclassfield {
	display: block!important;
	border-left: 1px solid #eee;
	padding-left: 20px;
	border-right: 1px solid #eee;
	padding-right: 20px;
	margin-bottom: 0;
	padding-bottom: 20px;
}

.popuptext {
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 14px;
	display: none;
}
.editpintext {
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: bold;
  display: none;
}
.administrator .form-item-webformgoogledata,.administrator .form-item-webformgooglepins {
	display: block!important;
}

.form-actions button{

}
.dpd {
  display: none;
}
#addresshere {
  display: flex;
  flex-wrap: wrap;
}
.addresommer {
	border: 1px solid #ccc;
    padding: 10px;
    margin: 4px;
    flex: 1 1 20%;
}

.form-type-webform-map-element-route .form-type-textarea {
	display: none;
}
.form-type-webform-map-element-route .form-type-textarea {
	display: none;
}
#routebtn,
.form-type-webform-map-element-route .control-label  {
	display: none;
}

.form-type-webform-map-element .form-type-textarea {
	display: none;
}
.form-type-webform-map-element .form-type-textarea {
	display: none;
}
#routebtn,
.form-type-webform-map-element .control-label  {
	display: none;
}


#endroute {
margin-top: 10px;
float: right;
}
.closei {
	display: block !important;
	float: right;
	cursor: pointer;
}
@media screen and (max-width: 600px){
	.wrap-imgpoint-texta {
		width: 150px;
	}
}

.custom_inflow_window{
	width: 500px;
	height: 500px;
}

#reportsIframeMapOnly {
	display: none;
}

.show_map_code {
	max-width: 800px !important;
	width: 100% !important;
}

.show_map_code .ui-dialog-titlebar-close::before {
	content: 'X';
	color: #fff;
}

.fullscreen-pac-container[style]{
	z-index: 2547483647 !important;
	top:50px !important;
  }